
<div style='border: 3px dashed blue'>
  <img src='https://s-media-cache-ak0.pinimg.com/236x/bf/e4/20/bfe420d5b8873fcaae7c9e662ffdae5e.jpg'>
</div>

<%if @name %>
<h1>My name is <%=@name%><h1>
<% end %>

<form action="/named-homer">
  <input type="text" name="name">
  <input type="submit" value="Push me">
</form>
